<h2 class="text-center mt-4"><i class="fas fa-user-graduate"></i> <%= @genre.name %>のドリル <i class="fas fa-user-graduate"></i></h2>

<h4 class="border border-4 border-danger text-center m-5 px-1 py-2"><問題><br><br><%= @question.question %></h4>

<% n = rand(2) %>
  <% if n == 0 %>
    <div class="btn btn-lg btn-outline-secondary m-3 px-5 py-3 d-block">選択肢 : <%= @question.choice_answer %></div><br>
    <div class="btn btn-lg btn-outline-secondary text-center m-3 py-3 d-block">選択肢 : <%= @question.choice_1 %></div><br>
    <div class="btn btn-lg btn-outline-secondary text-center m-3 py-3 d-block">選択肢 : <%= @question.choice_2 %></div><br>
  <% elsif n == 1 %>
    <%= render 'shared/choice', question: @question %>
  <% else %>
    <%= render 'shared/choice', question: @question %>
  <% end %>

  <div class="text-center">
    <%= link_to "解答へ", question_answer_path(@question, que_id: @que.id), class: "btn btn-success" %>
  </div>