<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">３択クイズに答えて大人の丁寧な語彙力が学べるサイトです<br>
            ３つのジャンルから選択し、解答・解説を読んで学んでいきましょう！<p>
        </div>
          <ul class="nav navbar-nav navbar-right">
            <% if customer_signed_in? %>
              <li><%= link_to "Home", root_path, class: "nav-link text-white" %></li>
              <li><%= link_to "My Favorites", my_favorites_path, class: "nav-link text-white" %></li>
              <li><%= link_to "Log out", destroy_customer_session_path, method: :delete, class: "nav-link text-white" %></li>
              <li><%= link_to "Inquiry", inquiry_index_path, class: "nav-link text-white" %></li>
            <% elsif admin_signed_in? %>
              <li><%= link_to "Home", admin_root_path, class: "nav-link text-white" %></li>
              <li><%= link_to "Log out", destroy_admin_session_path, method: :delete, class: "nav-link text-white" %></li>
            <% else %>
              <li><%= link_to "Home", root_path, class: "nav-link text-white" %></li>
              <li><%= link_to "Log in", new_customer_session_path, class: "nav-link text-white" %></li>
              <li><%= link_to "Inquiry", inquiry_index_path, class: "nav-link text-white" %></li>
            <% end %>
          </ul>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="/" class="navbar-brand d-flex align-items-center">
        <i class="fas fa-edit"></i><strong>Otona_Goiryoku_Drill</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>