<div class="search-form m-5">
  <%= form_with url: admin_search_path, method: :get, local: true do |f| %>
    <%= f.text_field :keyword, value: keyword %>
    <%= f.submit "検索" %>
  <% end %>
</div>

<div class="question-list m-5">
  <% questions.each do |question| %>
    <p>
      <%= question.genre.name %>
      <%= link_to question.question, admin_question_path(question) %>
      <%= question.choice_answer %>
    </p>
  <% end %>
</div>